@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Kumbh+Sans:wght@400;700&family=Outfit:wght@400;700&family=Rubik:wght@300;400;700&display=swap');

:root {
    --primary-soft-orange: hsl(35, 77%, 62%);
    --primary-soft-red: hsl(5, 85%, 63%);
    --secondary-off-white: hsl(36, 100%, 99%);
    --secondary-greyish-blue: hsl(233, 8%, 79%);
    --secondary-dark-greyish-blue: hsl(236, 13%, 42%);
    --secondary-very-dark-blue: hsl(240, 100%, 5%);
    --font-size: 15px;
}



*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: var(--font-size);
}

.container {
    width: 80vw;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

hr {
    color: var(--secondary-greyish-blue);
    border: none;
    border-top: 0.01px solid gray;
    margin: 2rem 0;
}

button {
    padding: 1rem 2rem;
    background: var(--primary-soft-red);
    color: white;
    border: none;
    margin: 0.3rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

header {
    margin-bottom: 2rem;
}

.navs a {
    color: var(--secondary-dark-greyish-blue);
    padding: 0 1rem;
}

.navs a:hover {
    color: var(--primary-soft-red);
}

.text-xl {
    font-weight: 800;
    font-size: 3rem;
    padding: 1rem 0;
}



.main-landing {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 2rem
}

.news {
    background: var(--secondary-very-dark-blue);
    padding: 1rem;

}

.text-lg {
    padding: .8rem 0;
}

.text-count {
    margin: 0.6rem 0;
}

.text-white {
    color: white;
}

.text-grey {
    color: var(--secondary-dark-greyish-blue);
}

.text-normal {
    color: var(--secondary-greyish-blue);
}

.news-title {
    margin: 0.9rem 0;
}

.text-orange {
    color: var(--primary-soft-orange);
}

.main-desc {
    display: flex;
    flex-direction: column;
    margin: 1.4rem 0;
    justify-content: space-between;
    align-items: start;
}

.main-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    gap: 4rem;
}

.main-img img {
    aspect-ratio: 6/2;
}

.article {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    justify-content: space-between;
}

.landing-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3rem;
    gap: 4rem;
}

.article .text-title {
    font-size: 1rem;
    margin: .4rem 0;
}

@media screen and (max-width: 1269px) {

    .main-landing, .main-bottom, .main, .landing-bottom {
        display: flex;
        flex-direction: column;
    }
    .main-img img{
        aspect-ratio: auto;
    }
    .main-bottom{
        gap: 0;
    }
    .navs{
        display: none;
    }
    
}